@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Montserrat+Alternates:wght@200;300&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange:#ff9500;
  --white-color:#fff;
  --black-color:#333;
  --light-color:rgba(0,0,0,.3);
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(197, 197, 197);
}

html::-webkit-scrollbar-thumb {
  background: var(--black-color);
  border-radius: 20px;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: "Roboto", cursive;
}

.alrt {
  width: 200px;
  z-index: 999999;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0 0 20px rgb(133, 255, 133);
  display: none;
}
.alrt p {
  padding: 0;
  margin: auto;
  font-size: 1.5rem;
  width: -moz-max-content;
  width: max-content;
}

.errCartAlrt {
  width: 300px;
  z-index: 999999;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0 0 20px rgb(255, 133, 133);
  display: none;
}
.errCartAlrt p {
  padding: 0;
  margin: auto;
  font-size: 1.5rem;
  width: -moz-max-content;
  width: max-content;
}

.errFavAlrt {
  width: 300px;
  z-index: 999999;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0 0 20px rgb(255, 133, 133);
  display: none;
}
.errFavAlrt p {
  padding: 0;
  margin: auto;
  font-size: 1.5rem;
  width: -moz-max-content;
  width: max-content;
}

nav {
  background-color: var(--light-color);
  color: white;
  border-bottom: solid 1px gray;
  margin-top: 10px !important;
  padding: 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}
nav h1 {
  letter-spacing: 10px;
}
nav h1 a {
  text-decoration: none;
  color: white;
}
nav h1 a:hover {
  color: white;
}
nav h1 a span {
  color: var(--orange);
}
nav .search {
  width: 300px;
}
nav .search input {
  border-radius: 25px;
  border: none;
  outline: none;
  padding-left: 20px;
}
nav .search input :focus {
  border: solid 5px red;
}
nav .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navBar .ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .navBar .ul li {
  text-decoration: none;
  list-style: none;
  margin-right: 30px;
  padding: 0;
  background-color: var(--white-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}
nav .navBar .ul li i {
  font-size: 20px;
  color: var(--black-color);
}
nav .navBar .ul li:hover {
  background-color: var(--orange);
  rotate: 360deg;
}
nav .navBar .ul li:hover i {
  color: var(--white-color);
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .content, header .image {
  width: 40%;
}
header .content h2, header .image h2 {
  letter-spacing: 5px;
  color: var(--orange);
  font-size: 2rem;
}
header .content h3, header .image h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 5rem;
  margin-bottom: 30px;
  margin-top: 30px;
}
header .content a, header .image a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-color);
  background-color: rgb(201, 201, 201);
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.3s ease;
}
header .content a:hover, header .image a:hover {
  background-color: var(--orange);
  color: var(--white-color);
}
header .content img, header .image img {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  animation: anime 5s linear infinite alternate;
}
header .menu {
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  position: fixed;
  z-index: 99;
  display: none;
}
header .menu .menu-list {
  width: 300px;
  height: 100%;
  background-color: black;
  position: relative;
}
header .menu .menu-list .x {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
header .menu .menu-list .x i {
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.1s ease;
}
header .menu .menu-list .x i:hover {
  color: var(--orange);
}
header .menu .menu-list .user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
header .menu .menu-list .user img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 8px solid var(--light-color);
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4rem 2rem 0 -3rem var(--orange), -4rem -2rem 0 -3rem var(--orange);
}
header .menu .menu-list .user h3 {
  margin-top: 15px;
  color: var(--white-color);
  letter-spacing: 3px;
}
header .menu .menu-list .list {
  padding: 0 30px;
  margin-top: 20px;
}
header .menu .menu-list .list a {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  padding: 15px 10px;
  position: relative;
  transition: 0.3s ease;
}
header .menu .menu-list .list a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-color);
  height: 1px;
}
header .menu .menu-list .list a:hover {
  background-color: var(--black-color);
}

.secTitle {
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.secTitle span {
  color: var(--orange);
}
.secTitle::after {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: gray;
}

.item {
  border: solid 1px gray;
  overflow: hidden;
  background-color: var(--light-color);
}
.item:hover .imgs .others {
  right: 10px;
}
.item .imgs {
  position: relative;
  margin-bottom: 20px;
  position: relative;
}
.item .imgs .thumbnail {
  width: 100%;
  height: 300px;
  padding: 20px;
}
.item .imgs::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: gray;
  position: absolute;
  bottom: 0;
}
.item .imgs .others {
  position: absolute;
  top: 15px;
  right: -50px;
  transition: 0.3s ease;
}
.item .imgs .others div {
  cursor: pointer;
  background-color: var(--white-color);
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.item .imgs .others div i {
  font-size: 1.3rem;
  color: var(--black-color);
  transition: 0.3s ease;
}
.item .imgs .others div:hover {
  background-color: var(--orange);
}
.item .imgs .others div:hover i {
  color: var(--white-color);
}
.item .contnt {
  padding: 20px;
}
.item .contnt i {
  color: var(--orange);
}
.item .contnt h3 {
  margin: 10px 0;
  letter-spacing: 3px;
  height: 70px;
  overflow: hidden;
  text-align: center;
}
.item .contnt p {
  height: 70px;
  overflow: hidden;
}
.item .contnt h4 {
  color: var(--orange);
  margin-bottom: 20px;
}
.item .contnt h4 span {
  color: var(--white-color);
  font-size: medium;
  position: relative;
}
.item .contnt h4 span::after {
  content: "";
  background-color: var(--white-color);
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  rotate: -8deg;
}
.item .contnt a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-color);
  background-color: rgb(201, 201, 201);
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.3s ease;
}
.item .contnt a:hover {
  background-color: var(--orange);
  color: var(--white-color);
}

.lastProSec .owl-carousel .owlBtn {
  background-color: var(--orange);
  margin-right: 20px !important;
  padding: 3px 0px;
  border: solid 1px var(--orange);
  border-radius: 20px;
  width: 4%;
  font-weight: 300;
  font-size: 1.5rem;
  position: absolute;
  bottom: -40px;
  transform: translateX(-50%);
  z-index: 999;
  transition: 0.3s ease;
}
.lastProSec .owl-carousel .owlBtn:hover {
  background-color: transparent;
  color: var(--orange);
}
.lastProSec .owl-carousel .owlBtn1 {
  left: 50%;
}
.lastProSec .owl-carousel .owlBtn2 {
  right: 50%;
}

.all-products .products .item .imgs {
  margin-bottom: 0;
}
.all-products .products .item .imgs .thumbnail {
  height: 250px;
}
.all-products .products .item .otherImgs {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.all-products .products .item .otherImgs img {
  cursor: pointer;
  width: 45px;
  height: 45px;
  margin: 3px;
  border: solid 1px gray;
  border-radius: 5px;
}
.all-products .products .view-shop {
  text-align: center;
  margin-top: 20px;
}
.all-products .products .view-shop a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-color);
  background-color: rgb(201, 201, 201);
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.3s ease;
}
.all-products .products .view-shop a:hover {
  background-color: var(--orange);
  color: var(--white-color);
}

.popUp {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}
.popUp .popX {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.popUp .popX i {
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.1s ease;
}
.popUp .popX i:hover {
  color: var(--orange);
}
.popUp .popImage img {
  border: solid 1px var(--orange);
  border-radius: 10px;
  width: 500px;
  height: 300px;
}
.popUp .popImgList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.popUp .popImgList img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
}
.popUp .pro-info .details-title {
  color: var(--orange);
}
.popUp .pro-info .details-description {
  color: var(--orange);
}
.popUp .pro-info p {
  color: var(--white-color);
  font-size: 1.2rem;
}
.popUp .pro-info p span {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--orange);
}
.popUp .pro-info p .pricRed {
  color: rgb(234, 34, 34);
}
.popUp .pro-info p samp {
  background-color: var(--orange);
  color: var(--white-color);
  padding: 5px;
  border-radius: 10px;
  letter-spacing: 0;
}
.popUp .pro-info p .pricDiscount {
  color: var(--orange);
  font-size: 1.3rem;
  position: relative;
}
.popUp .pro-info p .pricDiscount::after {
  content: "";
  background-color: var(--white-color);
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  rotate: -8deg;
}
.popUp .pro-info p i {
  color: var(--orange);
}
.popUp .pro-info strong {
  letter-spacing: 4px;
  font-size: 1.5rem;
  color: var(--white-color);
}
.popUp .pro-info strong span {
  font-weight: bolder;
}
.popUp .pro-info a {
  text-decoration: none;
  color: var(--black-color);
  background-color: rgb(201, 201, 201);
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.3s ease;
}
.popUp .pro-info a:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white-color);
}
.popUp .pro-info .iconFav {
  background-color: rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
  border-radius: 10px;
  cursor: pointer;
}
.popUp .pro-info .iconFav i {
  font-size: 1.7rem;
  color: var(--black-color);
  transition: 0.3s ease;
}
.popUp .pro-info .iconFav:hover {
  background-color: var(--orange);
}
.popUp .pro-info .iconFav:hover i {
  color: var(--white-color);
}

.spectial-deal {
  margin-bottom: 50px;
}
.spectial-deal .content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px gray;
  padding: 30px 10px;
  background-color: var(--light-color);
}
.spectial-deal .content .deal-image {
  width: 50%;
}
.spectial-deal .content .deal-date {
  width: 50%;
  text-align: center;
}
.spectial-deal .content .deal-date .dael-text {
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.spectial-deal .content .deal-date .dael-text h4 {
  color: var(--orange);
  font-size: 1.2rem;
}
.spectial-deal .content .deal-date .dael-text h3 {
  letter-spacing: 2px;
}
.spectial-deal .content .deal-date .dael-text .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}
.spectial-deal .content .deal-date .dael-text .timer .t {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 9px;
}
.spectial-deal .content .deal-date .dael-text .timer .ofNum {
  font-size: 3rem;
  color: var(--orange);
  font-weight: bolder;
}
.spectial-deal .content .deal-date .dael-text .timer .ofText {
  font-size: 1rem;
  color: gray;
  font-size: 1rem;
}
.spectial-deal .content .deal-date a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black-color);
  background-color: rgb(201, 201, 201);
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.3s ease;
}
.spectial-deal .content .deal-date a:hover {
  background-color: var(--orange);
  color: var(--white-color);
}

.reviews .item {
  padding: 20px;
}
.reviews .item .stars {
  margin: 20px 0;
}
.reviews .item .stars i {
  color: var(--orange);
  font-size: 1.3rem;
}
.reviews .item p {
  width: 95%;
}
.reviews .item .user {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
}
.reviews .item .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.reviews .item .user div {
  margin-left: 20px;
}
.reviews .item .user div h4 {
  margin: 30px 0 0 0;
}
.reviews .item .user div p {
  color: gray;
  width: -moz-max-content;
  width: max-content;
}
.reviews .owlBtn {
  display: none;
}

footer {
  margin: 20px 0;
}
footer .container {
  background-color: var(--light-color);
  padding: 20px 20px;
  border: solid 1px gray;
}
footer .container h3 {
  color: var(--orange);
  cursor: context-menu;
}
footer .container ul {
  margin-top: 10px;
}
footer .container ul li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  color: var(--white-color);
  transition: 0.3s ease-in-out;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
footer .container ul li:hover {
  color: var(--orange);
}
footer .container .copRigh p {
  text-align: center;
  font-size: 1.4rem;
}
footer .container .copRigh p span {
  color: var(--orange);
}

@keyframes anime {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}/*# sourceMappingURL=index.css.map */